---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About Me</title>
	</head>
	<body>
    <a href="/">Início</a>
<a href="/sobre/">Sobre</a>
<a href="/blog/">Blog</a>


<h1>Sobre Mim</h1>
<h2>... e meu novo site Astro!</h2>
		<h1>What do you need to know about me?</h1>
    <h2>Well...</h2>
    <p>My name is Andre, a.k.a. Dezo, and I enjoy building things with code. I created this website to showcase some of my projects and share what I
      learn along the way. When I'm not coding, you can find me playing guitar or spending time outdoors.</p>
      <p>I'm always looking to collaborate on new projects and learn from others. If you have an idea you want to bring to life or
      </p>
  	</body>
</html>
